{% extends "base.html" %}

{% block content %}
<main class="container mt-5">
  <section class="text-center">
    <h1 class="display-3 text-uppercase" style="color: #fff; text-shadow: 0 0 10px rgb(255, 0, 0), 0 0 20px rgb(0, 255, 0), 0 0 30px rgb(0, 0, 255);">
      {{ product.name }}
    </h1>
    <img src="{{ product.img_url }}" class="img-fluid rounded shadow-lg" alt="Product Image">
    <p class="lead mt-4" style="color: #fff; text-shadow: 0 0 10px rgb(255, 255, 0);">
      {{ product.description }}
    </p>
    <h3 class="text-success">Цена: {{ product.price }} грн</h3>

    <!-- Форма для покупки -->
    <form action="{{ url_for('buy_product', product_id=product.id) }}" method="post" class="mt-4">
      <div class="form-group">
        <label for="name" class="form-label text-light">Ваше имя</label>
        <input type="text" name="name" id="name" class="form-control" placeholder="Введите ваше имя" required>
      </div>
      <button type="submit" class="btn btn-lg btn-success mt-3">
        Купить
      </button>
    </form>
  </section>

  <hr class="my-5" style="border-color: rgba(255, 255, 255, 0.5);">

  <!-- Отзывы -->
  <section>
    <h2 class="text-light text-center">Отзывы</h2>
    <ul class="list-group mt-4">
      {% for review in product.reviews %}
      <li class="list-group-item bg-dark text-light">
        <strong>{{ review.name }}</strong>: {{ review.text }}
      </li>
      {% endfor %}
    </ul>

    <!-- Форма для добавления отзыва -->
    <form action="{{ url_for('get_product', product_id=product.id) }}" method="post" class="mt-4">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.text.label(class="form-label text-light") }}
        {{ form.text(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.name.label(class="form-label text-light") }}
        {{ form.name(class="form-control") }}
      </div>
      <button type="submit" class="btn btn-primary mt-3">Добавить отзыв</button>
    </form>
  </section>
</main>
{% endblock %}